*{
    margin: 0 ;
    padding: 0;
    box-sizing: content-box;
}

body{
    background-color: rgb(54, 54, 54);
    color: white;
    width: 100%;
    height: 99vh;
}
header{
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
main{
    display: flex;
    margin: 5px;
    height: 80%;
    width: 95%;   
}

#contenedorDeTexto{
    display: flex;
    flex-direction: column;
    width: 50%;
    
}

.contenedorCodigo{
    display: flex;
}

#consola{
    margin: 10px;
    text-align: center;
    overflow-y: auto;
    height: 100px;

}

#codigo{
    height: 400px;
    width: 100%;
}

#ejecutar{
    width: 25px;
    height: 25px;
}

#traza{
    padding-right: 10px;
}

#visual{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#traza{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 400px;
    overflow-y: auto;
}

.elementoTraza{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.contenedorTraza{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.seccionEscrita{
    display: flex;
    flex-direction: column;
}

.subtitulo{
    text-align: center;
    font-weight: 100;
    color: whitesmoke;
}

